<div class="four_zero_four_bg ">
    <h1 class="text-center ">Ads Management System : Home - Dynamic content</h1>
    <h4 class="text-center ">Server side rendering: JQuery- AJAX - Handlebars - ExpressJS - MySQL </h4>
</div>


